<header>
        <div class="head">
            <a href="/"><img src="/images/OPG_logo_black.png" alt="Logo"></a>
            <a href="/"><span id="text_logo">Open-Mind Programming Group:OPG</span></a>
            <button id="menu-toggle"><div>Menu</div></button>

        </div>
    </header>
    <nav id="menu" role="navigation">
        <div class="brand"><a href="./main.html">&Oopf;&Popf;&Gopf;</a></div>
        <div class="login">
            <form method="post" action="/user/login">
                <% if(isAuthenticated){ %>
                  <p class="user"><%= currentUser.name %> 환영합니다.</p>
                  <a href="/user/logout" id="logout"><button type="button" class="btn btn-sm">로그아웃</button></a>
                  <a href=" /user/<%=currentUser._id %>"><button type="button" class="btn btn-sm">마이페이지</button></a>
                <% } else { %>
                  <input type="text" id="id" name="id" placeholder="ID" required="required" />
                  <input type="password" id="password" name="password" placeholder="Password" required="required" />
                  <button type="submit" class="btn btn-sm">로그인</button>
                  <a href="/signUp"><button type="button" class="btn btn-sm">회원가입</button></a>
                <% } %>
            </form>
        </div>

        <ul>
           <li><a href="#" class="noactive"><span>소개</span></a><ul>
               <li><a href="/about">오피지는?</a></li>
               <li><a href="/member">맴버</a></li>
           </ul></li>
            <li><a href="#" class="noactive"><span>소식</span></a><ul>
              <li><a href="/notice">공지사항</a></li>
              <li><a href="/new_post">새로운글</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>정보</span></a><ul>
                <li><a href="/info/Programming">프로그래밍</a></li>
                <li><a href="/info/Exhibition">공모전/전시회</a></li>
                <li><a href="/info/IT">IT정보</a></li>
                <li><a href="/info/Job">취업정보</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>사진게시판</span></a><ul>
                <li><a href="/photo/Activity">MT 및 활동</a></li>
                <li><a href="/photo/Study">스터디</a></li>
                <li><a href="/photo/Seminar">세미나</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>커뮤니티</span></a><ul>
                <li><a href="/post/Inquire">질의응답</a></li>
                <li><a href="/post/Board">자유게시판</a></li>
                <li><a href="/post/Study">스터디모집</a></li>
                <li><a href="/post/Food">맛집정보</a></li>
            </ul></li>
            <li><a href="/photo/Work">작품</a></li>
        </ul>
    </nav>
