.edit{
    width: 900px;
    margin: 30px auto;
    text-align: center;
}

.edit #edit_title{
    display:block;
    background:linear-gradient(to top, #ffffff, #e6e6e6);
    margin: 10px auto;
    width: 80%;
    text-shadow: none;
}

.edit #edit_body{
    display:block;
    background:linear-gradient(to top, #ffffff, #f7f7f7);
    margin: 10px auto;
    width: 80%;
    height: 200px;
    font-size: 15px;
	color: #333;
    border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}

.edit label{
    display: block;
    font-size: 20px;
    text-align: left;
    padding: 0 10%;
}

.edit button.btn{
    position: relative;
    float: left;
    margin: 5px 10px;
    left: 10%;
    color:black;
    background: transparent;
    border-color: #ddd;
}

.edit button.btn:hover{
    color:white;
    background-color: #34B4D2;
}


