<!DOCTYPE html>
<html>
<head>
   <%- include ./partials/head.ejs %>
   <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
<%- include ./partials/header+nav.ejs %>
    <div class="page-wrap">
        <section class="programming">
            <div class="container">
              <div class="row">
                 <div class="col-xs-12">
                    <div id="about_head">
                         <hr><h1>ABOUT US</h1><hr>
                     </div>
                 </div>
             </div>
             <div class="row" id=about_main>
                <div class="col-xs-1"></div>
                <div class="col-xs-6 sub_info">
                 <blockquote>
                   <div class="headline"><span>O</span>pen-Mind <span>P</span>rogramming <span>G</span>roup</div>
                    <br>열린 마음으로 프로그래밍을 하며
                    <br>주기적인 공동 프로젝트를 통해 
                    <br>지식을 함양시키는
                    <br>인천대학교 컴퓨터 공학부 소모임입니다.
                  </blockquote>
                </div>
                <div class="col-xs-5">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
            </div>
            <div class="row">
                <div class=col-xs-4>
                  <div class=hover_box>
                   <image src="/images/oncean.png" class="about_img"></image>
                   <span class="about_text">소개</span>
                   </div>
                </div>
                <div class="col-xs-4">
                    <div class=hover_box>
                    <image src="/images/oncean.png" class="about_img"></image>
                    <span id="about_text1">작품전시회</span>
                    </div>    
                </div>
                <div class="col-xs-4">
                    <div class=hover_box>
                    <image src="/images/oncean.png" class="about_img"></image>
                    <span id="about_text2">study</span>  
                    </div>
                </div>
                 <div class="col-xs-4 col-xs-offset-2">
                    <div class=hover_box>
                    <image src="/images/oncean.png" class="about_img"></image>
                    <span class="about_text">MT</span>
                    </div>
                </div>
                 <div class="col-xs-4 offset">
                    <div class=hover_box>
                    <image src="/images/oncean.png" class="about_img"></image>
                    <span class="about_text">활동</span>
                    </div>
                </div>
            </div>
<%- include ./partials/footer.ejs %>