.text table .title{
    padding-right: 200px;
    overflow: hidden;
}
.text table th{
    padding:5px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    overflow: hidden;
}
.text table{
    margin-top: 10px;
    width: 100%;
    border-top:4px solid rgba(0,0,0,.5);
    border-bottom:4px solid rgba(0,0,0,.5);
}
.text h2{
    padding-top: 40px;
}

#sel{
    float: left;
    border-radius: 15px;
    height: 30px;
    margin-right: 5px;
    margin-top: 2px;
    border: 1px solid #ccc;
}

.col-xs-3 #circle1{
    left:80%;   
}
.col-xs-3 #circle2{
    left:50%;   
    margin-top: 2rem;
}
.col-xs-3 #circle3{
    left:80%;   
    margin-top: 3rem;
}

#imaginary_container{
    z-index: 2;
}