.show{
    
    width: 900px;
    margin: 0 auto;
}


.show .title{
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.show .time{
    float: left;
    width: 50%;
    height: 50px;
    color: crimson;
    padding-bottom: 50px;
}

.show .p_body{
    clear: both;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    height: 400px;
    overflow-y:scroll;
    overflow-x:none;
}

.show button.btn{
    float: left;
    margin-right: 10px;
    color: black;
    background: transparent;
    border-color: #ddd;
}

.show button.btn:hover{
    color:white;
    background-color: #34B4D2;
}

.comments .comment{
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.comments .comment button{
    float: right;
    font-size:3px;
    border-radius: 50%;
    background-color: rgba(255,0,0,0.7);
    color:white;
}

.comments .comment button:hover{
    background-color: rgba(255,0,0,1);
}

.addComment textarea{
    width: 100%;
}

.addComment button{
    position: relative;
    left: 90%;
    display: block;
}

@media (max-width: 500px) and (min-width: 300px) {
.show{ 
    width: 300px;
}

.addComment button{
    left: 80%;
}
}

/* Let's get this party started */
.show .p_body::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.show .p_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.show .p_body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.show .p_body::-webkit-scrollbar-thumb:window-inactive {
    background: #bbb; 
}