<!DOCTYPE HTML>
<html>
<head>
    <title>OPG</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="CSSresetstyle.css">
    <link rel="stylesheet" href="mainStyle.css">
    <script src="jquery-3.1.1.min.js"></script>
    <script src="prefixfree.min.js"></script>
    <script src="mainScript.js"></script>
</head>
<body>
   <div id="page">
   <div id="loginPage">
        <div id="loginBg"></div>
        <div id="loginContainer">
            <img src="Images/OPG_logo_black.png" alt="">
            <div id="loginInput">
                <label for="username">Username</label>
                <input id="uaername" type="text">
                <label for="password">Password</label>
                <input id="password" type="password">
                <div class="btnSet">
                    <button id="login">Login</button>
                    <button id="signIn">Sign Up</button>
                    <button id="close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <a href="main.html"><img class="logo" src="Images/OPG_logo_white.png"></a>
        <a href="main.html"><h1 id="mainTitle"><span class="accent">O</span>pen-mind <span class="accent">P</span>rograming <span class="accent">G</span>roup</h1></a>
        <div id="head_tab">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
            <a href="#">도움말</a>
        </div>
    </header>
    <section id="main"> 
        <div class="side">
           <div class="menu_tab">
                <div class="menu">
                    <ul>
                        <li><a href="defaultLayout.html"><p>OPG는?<br>주요활동</p></a></li>
                        <li><a href="defaultLayout.html">멤버</a></li>
                    </ul>
                    <a href="#">소 개</a>
                </div>
            </div>
            <div class="menu_tab">
                <div class="menu">
                    <ul>
                        <li><a href="./photo.html">MT/활동</a></li>
                        <li><a href="./photo.html">스터디</a></li>
                        <li><a href="./photo.html">세미나</a></li>
                    </ul>
                    <a href="#">사진게시판</a>
                </div>
            </div>
        </div>
        <div id="mid">
            <div id="center">
                <img src="Images/OPG_logo_white(O).png">
                <img src="Images/OPG_logo_white(P).png">
                <img src="Images/OPG_logo_white(G).png">
            </div>
            <div class="menu_tab">
                <div class="menu">
                    <ul>
                        <li><a href="defaultLayout.html">공지사항</a></li>
                        <li><a href="defaultLayout.html">새로운글</a></li>
                    </ul>
                    <a href="#">소 식</a>
                </div>
            </div>
            <div class="menu_tab">
                <div class="menu">
                    <a href="./photo.html">작 품</a>
                </div>
            </div>
        </div>
        <div class="side">
           <div class="menu_tab">
                <div class="menu">
                    <ul>
                        <li><a href="defaultLayout.html">프로그래밍</a></li>
                        <li><a href="defaultLayout.html">공모전/전시회</a></li>
                        <li><a href="defaultLayout.html">IT</a></li>
                        <li><a href="defaultLayout.html">취업</a></li>
                    </ul>
                    <a href="#">정보</a>
                </div>
            </div>
            <div class="menu_tab">
                <div class="menu">
                    <ul>
                        <li><a href="defaultLayout.html">질의응답</a></li>
                        <li><a href="defaultLayout.html">자유게시판</a></li>
                        <li><a href="./photo.html">맛집정보</a></li>
                        <li><a href="defaultLayout.html">커뮤니티</a></li>
                    </ul>
                    <a href="#">커뮤니티</a>
                </div>
            </div>    
        </div>
    </section>
    <footer><h1>인천대학교 컴퓨터공학부 학술소모임</h1></footer>
    </div>
</body>
</html>