<!DOCTYPE html>
<html>
<head>
    <%- include ./partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/photoStyle.css">
</head>
<body>
    <%- include ./partials/header+nav.ejs %>
    <div class="page-wrap">
        <section class="programming">
            <div class="container">
              <div class="row">
                 <div class="col-xs-12">
                     <h2><%= main_menu %></h2>
                 </div>
             </div>
             <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6 sub_info">
                  <blockquote>
                    <br>
                    <br>즐거운 소모임에서
                    <br>MT 및 여러 활동의 추억을
                    <br>사진으로 오래 남깁시다
                    <br>
                  </blockquote>
                </div>
                <div class="col-xs-5">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
            </div>
           <div class="row mainText">
            <div class="cc">
              <ul id="blog" class="blog ibw">
                 <a href="#">
                 <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772521" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Lorem ipsum dolor.</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                 <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772522" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Ab, aut enim!</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772523" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Accusamus, sit laborum.</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772524" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Mollitia ipsa, alias!</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772525" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Fugiat, modi, praesentium?</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=1461061772526" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Optio, consequuntur, magnam!</div>
                      <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=14610617725210" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Consequatur, et, ullam.</div>
                        <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=14610617725211" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Inventore, ad, libero.</div>
                        <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                    </div>
                  </div>
                </li>
                </a>
                <a href="#">
                <li class="blog_item ib fs">
                  <div class="ibw">
                    <div class="item_image iw ib">
                      <img src="https://unsplash.it/600/450/?random&amp;time=14610617725212" alt="">
                    </div>
                    <div class="item_details ib fs">
                      <div class="item_header">Magni, totam, inventore.</div>
                        <div class="item_day">2017-02-09</div>
                      <div class="item_writer">LYS</div>
                      </div>
                    </div>
                 </li>
                 </a>
              </ul>
            </div>
        </div>
<%- include ./partials/footer.ejs %>
