<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/CSSresetstyle.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signUpStyle.css">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/prefixfree.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/signUpScript.js"></script>
</head>
<body>
    <div class="container">
     <div class="wrap">
      <div class="row header">
       <div class="col-xs-1"></div>
        <div class="col-xs-1 logo">
            <a href="/"><img src="./Images/OPG_logo_white.png"></a>
        </div>
        <h1 class="col-xs-8">Sign Up</h1>
       </div>
        <hr />
       <form method="post" class="from-horizontal">
            <div class="form-group row">
                <div class="col-xs-2"></div>
                <label for="Name" class="col-xs-2">이 름</label>
                <input type="text" id="Name" name="Name" class="col-xs-4" placeholder="Enter name">
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-2"></div>
                <label for="ID" class="col-xs-2">아이디</label>
                <input type="text" id="ID" name="ID" class="col-xs-4" placeholder="Enter ID">
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-2"></div>
                <label for="Pwd" class="col-xs-2">비밀번호</label>
                <input type="password" id="Pwd" name="Pwd" class="col-xs-4" placeholder="Enter password">
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                 <div class="col-xs-2"></div>
                 <label for="RePwd" class="col-xs-2">비밀번호 확인</label>
                 <input type="password" id="RePwd" name="RePwd"  class="col-xs-4" placeholder="Comfirm password">
                 <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-2"></div>
                <label for="tel" class="col-xs-2">전화번호</label>
                <input type="text" id="tel" name="tel" class="col-xs-4" placeholder="Enter phone number(010XXXXXXXX)">
                <div class="col-xs-4"></div>
            </div>
               <div class="form-group row">
                <div class="col-xs-2"></div>
                <label for="mail" class="col-xs-2">E-Mail</label>
                <input type="email" id="mail" name="mail" class="col-xs-4" placeholder="Enter E-mail">
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
               <div class="col-xs-7"></div>
               <form method="post">
                 <input type="submit" id="submit" name="submit" value="Sign Up" class="col-xs-1">
                 <input type="reset" id="reset" name="reset" value="Reset" class="col-xs-1">
               </form>
           </div>
        </form>
    </div>
    </div>
</body>
</html>
