<header>
        <div class="head">
            <a href="/"><img src="/images/OPG_logo_black.png" alt="Logo"></a>
            <a href="/"><span id="text_logo">Open-Mind Programming Group:OPG</span></a>
            <button id="menu-toggle"><div>Menu</div></button>

        </div>
    </header>
    <nav id="menu" role="navigation">
        <div class="brand"><a href="./main.html">&Oopf;&Popf;&Gopf;</a></div>
        <div class="login">
            <form method="post">
                <input type="text" name="u" placeholder="Username" required="required" />
                <input type="password" name="p" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-sm">로그인</button>
                <a href="/signUp"><button type="button" class="btn btn-sm">회원가입</button></a>
            </form>
        </div>

        <ul>
           <li><a href="#" class="noactive"><span>소개</span></a><ul>
               <li><a href="#">오피지는?</a></li>
               <li><a href="#">맴버</a></li>
           </ul></li>
            <li><a href="#" class="noactive"><span>소식</span></a><ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">새로운글</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>정보</span></a><ul>
                <li><a href="#">프로그래밍</a></li>
                <li><a href="#">공모전/전시회</a></li>
                <li><a href="#">IT정보</a></li>
                <li><a href="#">취업정보</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>사진게시판</span></a><ul>
                <li><a href="/photo/Activity">MT 및 활동</a></li>
                <li><a href="/photo/Study">스터디</a></li>
                <li><a href="/photo/Seminar">세미나</a></li>
            </ul></li>
            <li><a href="#" class="noactive"><span>커뮤니티</span></a><ul>
                <li><a href="/inquire">질의응답</a></li>
                <li><a href="/post">자유게시판</a></li>
                <li><a href="/study">스터디모집</a></li>
                <li><a href="/food">맛집정보</a></li>
            </ul></li>
            <li><a href="./photo.html">작품</a></li>
        </ul>
    </nav>
